main {
    position: relative;
    #welcome-row {
        height: 85vh;
        #welcome-headline h1 {
            font-size: 4em;
        }
    }
    #skills-row {
        #skill-headline h2 {
            font-size: 4em;
            margin: 60px 0;
        }
        .rmv-padding {
            padding: 0;
        }
        @media only screen and (max-width: 768px) {
            .rmv-padding {
                padding: 0 15px;
            }
        }
        #skills {
            background-color: $gray;
            padding: 20px;
            -webkit-box-shadow: 10px 10px 26px -2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 26px -2px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 26px -2px rgba(0, 0, 0, 0.75);
            h3:nth-child(1) {
                margin-top: 1.5rem;
            }
            #skill-languages {
                li {
                    color: #00b9ff;
                }
            }
            #skill-databases {
                li {
                    color: #16d97e;
                }
            }
            #skill-frameworks {
                li {
                    color: $orange;
                }
            }
            #skill-tools {
                li {
                    color: #ff00b2;
                }
            }
            .subskill-row {
                .skill-list {
                    display: flex;
                    margin: 2rem 0;
                    flex-wrap: wrap;
                    li {
                        @media only screen and (min-width: 768px) {
                            width: 50%;
                        }
                        @media only screen and (max-width: 767px) {
                            width: 100%;
                        }
                        font-size: 1.2em;
                        span {
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    #about-row {
        #about-headline {
            h2 {
                margin: 60px 0;
                font-size: 4em;
            }
            p {
                font-size: 1.2em;
                text-align: justify;
            }
        }
        #img-portrait {
            width: 80%;
            height: 80%;
            display: block;
            margin: auto;
            border: 2px dashed $orange;
            border-radius: 50%;
            display: none;
        }
    }
    #project-row {
        #project-headline {
            margin: 60px 0;
            font-size: 4em;
        }
        p {
            font-size: 1.2em;
            margin-bottom: 5rem;
            text-align: justify;
        }
        .card-wrapper {
            padding: 0px;
        }
        .project-card {
            height: auto;
            background-color: $gray;
            -webkit-box-shadow: 10px 10px 26px -2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 26px -2px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 26px -2px rgba(0, 0, 0, 0.75);
            border: 3px solid $orange;
            overflow: hidden;
            .project-link {
                .project-img {
                    width: 100%;
                    height: auto;
                    display: block;
                    position: relative;
                    -webkit-transition: all 0.4s ease-in;
                    transition: all 0.4s ease-in;
                }
                .project-img:hover {
                    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
                    filter: grayscale(1) blur(3px);
                    -webkit-filter: grayscale(1) blur(3px);
                    -webkit-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    transform: scale(1.2);
                }
            }
        }
        .project-name {
            display: block;
            height: 50px;
            margin: -15px -5px auto auto;
            position: relative;
            line-height: 50px;
            font-size: 28px;
            margin-bottom: 60px;
            background-color: $orange;
            color: #000000;
            font-weight: 700;
            text-align: center;
            font-family: Helvetica;
            width: 60%;
            -webkit-box-shadow: 10px 10px 26px -2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 26px -2px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 26px -2px rgba(0, 0, 0, 0.75);
            transform: skew(-20deg);
            -webkit-transform: skew(-20deg);
            -moz-transform: skew(-20deg);
            -o-transform: skew(-20deg);
        }
    }
}

#contact-row {
    margin-top: 2em;
    #contact-headline {
        margin: 60px 0 60px 0;
        text-align: center;
        font-size: 4em;
    }
    p {
        font-size: 1.2em;
        text-align: center;
    }
    #contact-form {
        margin: 50px 0 100px 0;
        .form-control {
            border-radius: 0;
            border: 2px solid $orange;
            background-color: $gray;
            color: #ffffff;
        }
        .form-control:focus {
            border-color: $text_blue;
        }
        .form-row {
            margin: 10px 0;
        }
        .g-recaptcha {
            margin-top: 24px;
            width: 304px;
        }
        .mobile-response {
            padding-top: 20px;
        }
        #form-compliance {
            padding: 15px 0
        }
        #input-checkbox {
            /* Double-sized Checkboxes */
            -ms-transform: scale(2);
            /* IE */
            -moz-transform: scale(2);
            /* FF */
            -webkit-transform: scale(2);
            /* Safari and Chrome */
            -o-transform: scale(2);
            /* Opera *…*/
            transform: scale(2);
            margin-right: 15px;
            margin-left: 5px;
        }
    }
}