.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.circle-visible {
    opacity: .7;
}

.blue-border {
    border-color: $blue !important;
}

#form-response {
    height: 32rem;
    #success-img {
        width: 75px;
        height: auto;
        margin-top: 20px;
    }
}

#form-response-failed {
    height: 6rem;
    color: $orange;
}