.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.circle-visible {
    opacity: .7;
}

.blue-border {
    border-color: $blue !important;
}

#form-response {
    height: 32rem;
    #success-img {
        width: 75px;
        height: auto;
        margin-top: 20px;
    }
}

#form-response-failed {
    height: 6rem;
    color: $orange;
}

.underline-from-left {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: $orange;
        height: 4px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover:before {
        right: 0;
    }
}

/* floating-circles BEGIN */

.floating-square {
    position: absolute;
    display: inline-block;
    border: 8px solid $blue;
    border-radius: 35%;
    width: 50px;
    height: 50px;
}

.fs-orange {
    border-color: $orange;
}

@media only screen and (max-width: 1024px) {
    .fs-orange {
        display: none;
    }
}

#square-1 {
    top: 115vh;
    left: 85vw;
}

#square-2 {
    top: 27vh;
    left: 85vw;
}

#square-3 {
    top: 125vh;
    left: 55vw;
}

#square-4 {
    top: 118vh;
    left: 4vw;
}

#square-5 {
    top: 80vh;
    left: 10vw;
}

#square-6 {
    top: 80vh;
    left: 82vw;
}

#square-7 {
    top: 63vh;
    left: 27vw;
}

#square-8 {
    top: 24vh;
    left: 12vw;
}

#square-9 {
    top: 18vh;
    left: 55vw;
}

#square-10 {
    top: 200vh;
    left: 5vw;
}

#square-11 {
    top: 95vh;
    left: 62vw;
}

#square-12 {
    top: 150vh;
    left: 65vw;
}

#square-13 {
    top: 160vh;
    left: 5vw;
}

#square-14 {
    top: 165vh;
    left: 80vw;
}

#square-15 {
    top: 170vh;
    left: 10vw;
}

#square-16 {
    top: 185vh;
    left: 35vw;
}

#square-17 {
    top: 190vh;
    left: 75vw;
}

#square-18 {
    top: 225vh;
    left: 45vw;
}

#square-19 {
    top: 240vh;
    left: 20vw;
}

#square-20 {
    top: 245vh;
    left: 85vw;
}

#square-21 {
    top: 280vh;
    left: 10vw;
}

#square-22 {
    top: 285vh;
    left: 75vw;
}

#square-23 {
    top: 360vh;
    left: 35vw;
}

#square-24 {
    top: 320vh;
    left: 85vw;
}

#square-25 {
    top: 380vh;
    left: 60vw;
}

#square-26 {
    top: 455vh;
    left: 70vw;
}

#square-27 {
    top: 472vh;
    left: 79vw;
}

#square-28 {
    top: 415vh;
    left: 80vw;
}

#square-29 {
    top: 420vh;
    left: 15vw;
}

#square-30 {
    top: 355vh;
    left: 10vw;
}

#square-31 {
    top: 342vh;
    left: 70vw;
}

#square-32 {
    top: 465vh;
    left: 25vw;
}

#square-33 {
    top: 480vh;
    left: 10vw;
}

#square-34 {
    top: 495vh;
    left: 85vw;
}

#square-35 {
    top: 510vh;
    left: 15vw;
}

#square-36 {
    top: 296vh;
    left: 60vw;
}

#square-37 {
    top: 560vh;
    left: 10vw;
}

#square-38 {
    top: 565vh;
    left: 50vw;
}

#square-39 {
    top: 570vh;
    left: 75vw;
}

#square-40 {
    top: 575vh;
    left: 25vw;
}

/* floating-circles END*/