.welcome-container-wrapper {
    background-color: #0e1111;
}

.skills-container-wrapper {
    background-color: #0e1111;
}

.about-container-wrapper {
    background-color: #0e1111;
    padding-bottom: 50px;
}

.project-container-wrapper {
    background-color: #232b2b;
}

.contact-container-wrapper {
    background-color: #353839;
}